.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 240px;
}

.header-content::before {
  content: "";
  position: absolute;
  width: 950px;
  height: 750px;
  background-color: hsl(207, 33%, 95%);
  z-index: -1;
  right: 0px;
  border-radius: 0px 0px 0px 70px;
}

.nav-items ul {
  display: flex;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15px;
  color: hsl(230, 29.4%, 20%);
  gap: 45px;
}

/* .nav-items ul li {
  transition: 0.10s;
} */

.nav-items ul li:hover {
  text-decoration: underline;
}

.nav-items span {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: hsl(231, 7%, 65%);
}

.btn-login {
   color: hsl(230, 11%, 40%);
   transition: 0.5s;
}

.btn-login:hover {
  text-decoration: underline;
  text-decoration-color: hsl(230, 11%, 40%);
}

@media (max-width: 1440px) {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 160px;
  }
  
  .nav-items ul {
    font-size: 14px;
    font-weight: 700;
  }

  .header-content::before {
    width: 650px;
    height: 540px;
    border-radius: 0px 0px 0px 50px;
  }
}

.menu-mobile {
  display: none;
}

/* MOBILE */
@media (max-width: 400px) {
  .header-content {
    margin: 30px 30px;
  }

  .header-content::before {
    width: 185px;
    height: 260px;
  }

  .menu-mobile {
    display: flex;
    cursor: pointer;
  }

  .nav-items ul {
    display: none;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17px;
    color: hsl(230, 29.4%, 20%);
    gap: 18px;
    flex-direction: column;
    right: 30px;
    top: 97px;
    /* left: 50%; */
    width: 84.5%;
    height: 235px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 1px 2px 0px hsl(230, 29.40%, 20.00%);
  }

  .nav-items ul.active {
    display: flex;
  }

  .nav-items span {
    height: 2px;
    width: 274px;
    border-radius: 1px;
    background-color: hsl(231deg 7% 65% / 29%);
  }
}